body {
    font-size: 0;
}

body > * {
    font-size: 1rem;
}


body {
    font-size: 0;
    margin: 0;
    padding: 0;
    /*background: url("images/newspaper.jpg") no-repeat center;*/
    background-size: cover, 100%;
/*  text-align: center;*/    
    font-family: "Montserrat", serif;
}

header {
    /* If you change the height, remember to change #container margin */
    text-align: center;
    height: 70px;
    background-color: white;/*rgba(64,64,64,.9);*/
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(211,211,211,.9);
            box-shadow: 0px 1px 0px 0px rgba(211,211,211,.9);
    position: fixed;
    top: 0;
}

header h1 {
    margin: 0;
    padding: 0;
}

header h4 {
    margin: 0 0 20px 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: red;
    text-decoration: underline;
}

h1 {
    color: #000;
    font-weight: 700;
    background-color: #fff;
    display: inline-block;
    padding: 1%;
    text-decoration: underline;
    text-decoration-color: red;
}

h2 {
    color: #fff;
    margin-top: 0;
}

p {
    color: red;
    font-size: 1.4rem;
    text-align: left;
}

footer {
    background-color: black;
    margin: 0;
    padding: 50px 0 50px 0;
    width: 100%;
}

#footer-container {
    min-width: 300px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    color: white;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

#container {
    min-width: 300px;
    width: 98%;
    max-width: 1000px;
    /* The 90px is the height of the header (80px) + 10px */
    margin: 90px auto 0 auto;
}

.attributions {
    margin: 0 5px 10px 0;
}

.article-title {
    margin: 0;
    padding: 0;
    /* h4 text */
    font-size: 1.3rem;
    /*display: inline-block;*/
}

.article-item {
    /* div item (entire thing) */
    margin: 30px 10px;
    /*height: 50px;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;*/
    display: flex;
    /*align-items: center;*/
    -webkit-align-items: center;
    align-items: center;
}

.article-description {
    margin: 0.5em 0 0 0;
    padding: 0;
}

.article-description {
        color: grey;
        font-size: 1.1rem;
}

.article-item img {
    width: 300px;
    height: auto;
    /*display: inline-block;*/
}

.article-image-div {
    margin-right: 10px;
}

@media (max-width: 750px) {
    #footer-container {
        flex-direction: column;
        align-items: center;
    }

    .article-item {
        flex-direction: column;
        align-items: center;
    }

    .attributions {
        text-align: center;
    }
}