body {
    font-size: 0;
    margin: 0;
    padding: 0;
    background: url("images/newspaper.jpg") no-repeat center;
    background-size: cover, 100%;
    text-align: center;
    font-family: "Montserrat", serif;
}

body > * {
    font-size: 1rem;
}

.header {
    height: 15%;
    background-color: rgba(64,64,64,.9);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: red;
    text-decoration: underline;
}

h1 {
    color: #000;
    font-weight: 700;
    background-color: #fff;
    display: inline-block;
    padding: 1%;
    text-decoration: underline;
    text-decoration-color: red;
}

h2 {
    color: #fff;
    margin-top: 0;
}

p {
    color: red;
    font-size: 1.4rem;
    text-align: left;
}

h5 {
    color: green;
    font-size: 1.1rem;
}

#container {
    min-width: 300px;
    width: 98%;
    /*max-width: 1000px;*/
    margin: auto;
}

.article-title {
  /* h4 text */
    font-size: 1.3rem;
}

.article-item {
  /* div item (entire thing) */
    height: 50px;
}