* {
  font-family: Montserrat;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
    color: purple;
    margin: 0;
}

#container {
  min-width: 300px;
  width: 98%;
  max-width: 1000px;
  margin: auto;
  padding: 0;
}

.article-title {
  /* h4 text */
  
}

.article-item {
  /* div item (entire thing) */
  height: 50px;
}